# IntelliJ project files #
.idea
*.iml
classes
out
build
*.class

# Eclipse project files #
.classpath
.project
.settings

# Gradle #
target
gradlew*

# Package Files #
*.jar
*.war
*.ear
/src/main/resourcesUsersDB.mv.db
/src/main/resources.trace.db
/localtest/
!/localtest/apache-tomcat-9.0.0.M17/conf/
